#op1-img {
    top: 50px;
    left: 30px;
    background-image: url('../img/Afterski.jpg');
}

#op2-img {
    top: 50px;
    left: 360px;
    background-image: url('../img/Strand.jpg');
}

#op3-img {
    top: 50px;
    left: 690px;
    background-image: url('../img/Lesesal.jpg');
}

#op4-img {
    top: 267px;
    left: 30px;
    background-image: url('../img/Festival.jpg');
}

#op5-img {
    top: 267px;
    left: 360px;
    background-image: url('../img/storby.jpg');
}

#op6-img {
    top: 267px;
    left: 690px;
    background-image: url('../img/trening_gutt.jpg');
}

#op7-img {
    top: 484px;
    left: 30px;
    background-image: url('../img/Fotballkamp.jpg');
}

#op8-img {
    top: 484px;
    left: 360px;
    background-image: url('../img/utested.jpg');
}

#op9-img {
    top: 484px;
    left: 690px;
    background-image: url('../img/skateboard_gutt.jpg');
}

.image {
    width: 300px;
    height: 187px;
    position: absolute;
    background-size: contain;
    border: 4px solid white;
    background-repeat: no-repeat;
    background-size: cover;
}

#op1-slide7 {
    top: 210px;
    left: 40px;
    background-image: url('../logo-boy/adidas.png');
}

#op2-slide7 {
    top: 210px;
    left: 270px;
    background-image: url('../logo-boy/arkaiv.png');
}

#op3-slide7 {
    top: 210px;
    left: 510px;
    background-image: url('../logo-boy/aswell.png');
}

#op4-slide7 {
    top: 210px;
    left: 750px;
    background-image: url('../logo-boy/carhartt.png');
}

#op5-slide7 {
    top: 310px;
    left: 40px;
    background-image: url('../logo-boy/converse.png');
}

#op6-slide7 {
    top: 310px;
    left: 270px;
    background-image: url('../logo-boy/fredperry.png');
}

#op7-slide7 {
    top: 310px;
    left: 510px;
    background-image: url('../logo-boy/volcome.png');
}

#op8-slide7 {
    top: 310px;
    left: 750px;
    background-image: url('../logo-boy/lacoste.png');
}

#op9-slide7 {
    top: 410px;
    left: 40px;
    background-image: url('../logo-boy/lee.png');
}

#op10-slide7 {
    top: 410px;
    left: 270px;
    background-image: url('../logo-boy/newbalance.png');
}

#op11-slide7 {
    top: 410px;
    left: 510px;
    background-image: url('../logo-boy/newera.png');
}

#op12-slide7 {
    top: 410px;
    left: 750px;
    background-image: url('../logo-boy/nike.png');
}

#op13-slide7 {
    top: 510px;
    left: 40px;
    background-image: url('../logo-boy/northface.png');
}

#op14-slide7 {
    top: 510px;
    left: 270px;
    background-image: url('../logo-boy/puma.png');
}

#op15-slide7 {
    top: 510px;
    left: 510px;
    background-image: url('../logo-boy/reebook.png');
}

#op16-slide7 {
    top: 510px;
    left: 750px;
    background-image: url('../logo-boy/superdry.png');
}

#op17-slide7 {
    top: 610px;
    left: 40px;
    background-image: url('../logo-boy/thehundreds.png');
}

#op18-slide7 {
    top: 610px;
    left: 750px;
    background-image: url('../logo-boy/vans.png');
}


.brand {
    width: 200px;
    height: 60px;
    position: absolute;
    background-size: contain;
    border: 2px solid gray;
}